<ion-header>
  <ion-toolbar>
    <ion-nav-bar>
      <ion-title>Exercise</ion-title>
      <ion-button (click)="back()" ion-button slot="icon-only" fill="clear" color="primary" size="small">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button class="doneIcon" (click)="done()" ion-button slot="icon-only" fill="clear" color="primary" size="small">Done</ion-button>
      <!-- <ion-nav-buttons style="width: 100%; padding: 300px; margin:5px">
          <ion-title>Exercise</ion-title>
          <ion-button (click)="done()" ion-button slot="icon-only" fill="clear" color="primary" size="small">Done</ion-button>
        </ion-nav-buttons> -->
    </ion-nav-bar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <table class="table">
    <thead style="text-align: center;">
      <tr>
        <th style="width:50%">Item</th>
        <th style="width:35%">Time</th>
        <th style="width:25%">Kcal</th>
      </tr>
    </thead>

    <tbody style="text-align: center;">
      <tr *ngFor="let exerciseItem of exerciseItems; let i=index">
        <td class="itemNameControl text-left pl-0 pr-0">{{exerciseItem.itemName}}</td>
        <td class="pl-0 pr-0">
          <ion-row class="itemQty">
            <ion-col class="itemControl" (click)="reduceQty(i)">
              <ion-icon name="ios-remove-circle-outline"></ion-icon>
            </ion-col>
            <ion-col class="selectQtyCol p-0">
              <ion-input type="number" [(ngModel)]="exerciseItems[i].itemDuration" #itemQty1="ngModel" min="0" value="0" oninput="this.value = Math.floor(Math.abs(this.value))"></ion-input>
            </ion-col>
            <ion-col class="itemControl" (click)="addQty(i)">
              <ion-icon name="ios-add-circle-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </td>
        <td class="itemCaloriesControl pl-0 pr-0">{{exerciseItem.itemCalories}}</td>
      </tr>
    </tbody>

  </table>
</ion-content>