<ion-header>
  <ion-toolbar>
    <ion-nav-bar>
      <ion-title>Food Record</ion-title>
      <ion-nav-buttons style="width: 100%; padding: 300px;">
        <ion-button (click)="done()" ion-button slot="icon-only" fill="clear" color="primary" size="small">Done</ion-button>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <table class="table">
    <thead align="center">
      <tr>
        <th style="width:10%">Select</th>
        <th style="width:20%">Item</th>
        <th style="width:50%">Qty</th>
        <th style="width:20%">Kcal</th>
      </tr>
    </thead>

    <tbody align="center">
      <tr *ngFor="let foodRecordItem of foodRecordItems; let i=index">
        <td><ion-checkbox color="primary" [(ngModel)]="foodRecordItems[i].itemSelected" #itemSelected1="ngModel" [checked]=true>
            </ion-checkbox>
        </td>
        <td>{{foodRecordItem.itemName}}</td>
        <td>
          <ion-row class="itemQty">
            <ion-col class="itemQtyIconCol" (click)="reduceQty(i)">
              <ion-icon name="ios-remove-circle-outline"></ion-icon>
            </ion-col>
            <ion-col class="selectQtyCol">
              <!-- {{foodRecordItem.itemQty}} -->
              <ion-input type="text" [(ngModel)]="foodRecordItems[i].itemQty"  #itemQty1="ngModel"></ion-input>
            </ion-col>
            <ion-col class="itemQtyIconCol" (click)="addQty(i)">
              <ion-icon name="ios-add-circle-outline"></ion-icon>
            </ion-col>
          </ion-row>
          <!-- <ion-select [(ngModel)]="foodRecordItem.itemQty" name="itemQty" multiple="true">
            <ion-option *ngFor="let itemQty of itemQtys" value="{{itemQty}}">{{itemQty}}</ion-option>
          </ion-select> -->
        </td>
        <td>{{foodRecordItem.itemCalories}}</td>
      </tr>
    </tbody>

  </table>
</ion-content>