.selectQtyCol{
    padding-top: 0px;
}
.itemControl{
    padding-top: 8px;
}
.itemNameControl{
    padding-top: 16px;
}
.itemCaloriesControl{
    padding-top: 18px;
}
.itemSelectControl{
    padding-top: 5px;
}